.metadata
_pycache_/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
dist/
build/
.env
.venv
venv/
ENV/
.vscode/
figures/
plots/
.png
.jpg
.svg
.jpeg
data/
datasets/
input/
testdata/
*.bin
*.dat
*.tar
*.zip
*.xz
*.7z
*.bak
*.raw
*.tmp
